.page {
    margin: 30px;
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.padded {
    padding: 16px;
}

.container-low {
    background: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-on-surface);
}

input {
    padding: 10px;
    border: 0.1rem solid var(--md-sys-color-primary);
    border-radius: 5px;
    background: inherit;
    color: inherit;
}